{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Barter - {{ request.user.firstName|capfirst}}{% endblock title %}</title>
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% block stylesheets %}{% endblock stylesheets %}
</head>

<body>
    <header class="sticky-top" style="z-index: 1080;">
        <nav class="navbar shadow-lg  navbar-light" style="background-color: #1D4365;">
            <div class="container-xxl">
                <a href={% url 'home' %} class="navbar-brand">
                    <span id="font" class=" d-flex fs- text-light flex-column align-items-center  "><img
                            class="rounded-circle" width="120px" height="60px"
                            src="{% static 'images/logo.png' %}">Barter</span>
                </a>
                <div class=" " id="main-nav">
                    <ul class="navbar-nav d-flex flex-row">
                        <li class="nav-item m-2">
                            <a href={% url 'others_profile' user.username %} class="btn btn-sm text-light">
                                <div class="d-flex align-items-end">
                                    <span class="fw-bold ms-2 mb-3">
                                        <span>
                                            <img class="rounded-circle" width="50px" height="50px"
                                                src="{{ request.user.profile_picture.url }}">
                                            <span class="ms-1">
                                                {{user.firstName|capfirst}}
                                            </span>


                                        </span>
                                    </span>
                                </div>
                            </a>

                        </li>

                        <li class="nav-itemn mt-3">


                            <!--        modal       -->


                            <span class="mb-5 ">
                                <button class="btn btn-sm text-light" data-bs-toggle="modal"
                                    data-bs-target="#reg-modal">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="30" fill="white"
                                        class="bi bi-list" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                                    </svg>
                                </button>
                                <div class="modal fade" id="reg-modal" tabindex="-1" aria-labelledby="modat-title"
                                    aria-hidden="true">
                                    <div class="modal-dialog  modal-dialog-scrollable modal-dialog-centered">
                                        <div class="modal-content ">
                                            <div class="modal-header border-0 ">
                                                <div class="modal-title">
                                                    <div class=" ms-4 mt-3 d-flex align-items-end">
                                                        <img src="{{ request.user.profile_picture.url }}" class="
                                                            rounded-circle" width="80px" height="80px">
                                                        <span class="fw-bold ms-2 mb-4 text-muted "
                                                            style="margin-bottom: 30px !important ;">@
                                                            <span>
                                                                {{request.user.fullname|title}}
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <button type="button" class="btn-close mb-5 me-1"
                                                    data-bs-dismiss="modal" aria-label="close"></button>
                                            </div>
                                            <div class="modal-body text-center">
                                                <a href={% url 'post' %}
                                                    class="nav-link  p-3 m-3 btn text-light btn-primary">Create
                                                    New Post</a>
                                                <a href={% url 'others_profile' request.user.username %}
                                                    class="nav-link p-3 m-3 btn text-light btn-primary ">Edit
                                                    Profile</a>
                                                <a href={% url 'logout' %}
                                                    class="nav-link p-3 m-3 btn text-light  btn-primary">Logout</a>
                                                <a href={% url 'delete_profile' %}
                                                    class="nav-link p-3 m-3 btn text-light  btn-danger">Delete
                                                    Profile</a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </span>
                            <!--offcanvas-->



                            <!-- <span>
                                <button class="btn " type="button" data-bs-toggle="offcanvas"
                                    data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"> <svg
                                        xmlns="http://www.w3.org/2000/svg" width="50" height="30" fill="white"
                                        class="bi bi-list" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                                    </svg></button>

                                <div class="offcanvas bg-light offcanvas-end" tabindex="-1" id="offcanvasRight"
                                    aria-labelledby="offcanvasRightLabel">
                                    <div class="offcanvas-header">

                                        <h5 id="offcanvasRightLabel"></h5>
                                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                            aria-label="Close"></button>

                                    </div>
                                    <div class="offcanvas-body ">
                                        <div class="d-flex flex-column justify-content-center align-items-center">
                                            <img class="rounded-circle mb-4" width="80px" height="80px"
                                                src="{{ request.user.profile_picture.url }}">
                                            <span class="fw-bold ms-2 mb-4 ">
                                                <span>
                                                    {{request.user.fullname|title}}
                                                </span>
                                            </span>
                                        </div>

                                        <div class=" text-center">
                                            <a class="nav-link p-3 m-3 btn text-light btn-primary" href={% url 'post'
                                                %}>Create New
                                                Post</a>

                                            <a class="nav-link p-3 m-3 btn text-light  btn-primary" href={%
                                                url 'others_profile' request.user.username %}>Edit
                                                Profile</a>

                                            <a class="nav-link p-3 m-3 btn text-light  btn-primary" href={% url 'logout'
                                                %}>Logout</a>

                                            <a class="nav-link p-3 m-3 btn text-light  btn-danger" href={%
                                                url 'delete_profile' %}>Delete
                                                Profile</a>

                                        </div>
                                    </div>
                                </div>
                            </span> -->
                        </li>


                    </ul>
                </div>
            </div>
        </nav>

    </header>

    <main>
        {% block main_content %}{% endblock main_content %}
    </main>

    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    {% block scripts %}{% endblock scripts %}
</body>

</html>