{% extends 'home.html' %}

{% load static %}

{% block middle %}

<section class="middle">


    <div class="card bg-light shadow-lg mb-4 mx-4">

        <div class="card-body p-0">
            <div class="card-title mb-0 d-flex justify-content-between">
                <div class=" ms-3 m-1 p-0 d-flex flex-row  ">
                    <div class="d-flex flex-column ">
                        <a href={% url 'home' %}>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-arrow-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                            </svg>
                        </a>

                        <img class="rounded-circle mt-3 " src="{{other.profile_picture.url}}" width="150px"
                            height="130px" />
                    </div>

                    <div class="mt-2 mb- d-flex flex-column m-2 mt-5">
                        <a class="fw-bold ms-2" href="#"
                            style="text-decoration: none; color: black; font-size: large; ">
                            {{ other.fullname|title }}
                        </a>
                        <a class="ms-3" style="text-decoration: none;  font-size: 13px;">
                            @{{other.username }}</a>
                        <p class="ms-2">
                            {{ other.bio }}
                        </p>

                    </div>


                </div>


            </div>
        </div>

    </div>


    {% if not other.posts %}
    <p><a href={% url 'others_profile' other.username %}> {{other.fullname|title}}</a> don't have a post.</p>
    {% else %}

    {% for post in other.posts.all %}

    <div class="card bg-light shadow-lg mb-1 mx-4">

        <div class="card-body p-0">
            <div class="card-title mb-0 d-flex justify-content-between">
                <div class=" ms-3 m-1 p-0 d-flex flex-row  ">
                    <img class="rounded-circle mt-3 " src="{{ post.poster.profile_picture.url }}" width="60px"
                        height="60px" />
                    <div class="mt-0 mb-3 d-flex flex-column m-2 mt-4">
                        <a class="fw-bold" href={% url 'others_profile' post.poster.username %}
                            style="text-decoration: none; color: black; font-size: small; ">
                            {{post.poster.fullname|title }}</a>
                        <a style="font-size: 13px;">{{ post.posted_date|date:"M, d Y" }}</a>
                    </div>


                </div>

                <span class="mb-5 mt-3 me-3 ">
                    <button class="btn fw-bold  btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#offer-modal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-plus-lg" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                        </svg>
                    </button>
                    <form action="" method="post">
                        <div class="modal fade" id="offer-modal" tabindex="-1" aria-labelledby="modal-title"
                            aria-hidden="true">
                            <div class="modal-dialog rounded  modal-dialog-scrollable modal-dialog-centered">
                                <div class="modal-content ">
                                    <div class="modal-header  ">
                                        <div class=" ms-5 modal-title">
                                            <h1 class="ms-5 mb-3 ps-4">Select an item</h1>
                                        </div>
                                        <button type="button" class="btn-close mb-4 me" data-bs-dismiss="modal"
                                            aria-label="close"></button>
                                    </div>

                                    <div class="modal-body text-center">

                                        {% csrf_token %}

                                        <!-- Options to choose for an offer -->
                                        {% for offer in request.user.posts.all %}
                                        <input type="hidden" name="post" value="{{ post.id }}">
                                        <input class="btn-check " type="radio" autocomplete="off" id="{{ offer.id }}"
                                            name="offer" value="{{ offer.id }}" />
                                        <label class="btn " for="{{ offer.id }}">
                                            <div class=""><img class="img-fluid" src="{{ offer.image.url }}"
                                                    style="max-height: 50%; max-width: 100%; border-radius: 4px" />
                                            </div>
                                            <div class="post-name">{{ offer.commodity_name|capfirst }} </div>
                                        </label>

                                        {% endfor %}

                                    </div>
                                    <div class="modal-footer border-0 justify-content-center">

                                        <button type="submit" class="btn btn-lg btn-success" name="submit"
                                            value="send-offer">Send</button>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </form>

            </div>
            </span>
        </div>

        <div class="commodity_name mb-1 ms-4">
            <span class="fw-bold"> Name: </span> {{ post.commodity_name }}
        </div>

        <div class="description ms-4">
            <span class="fw-bold"> Description: </span> {{ post.description }}
        </div>

        <div class="ms-3 me-3 mt-3 fluid-content">
            <img class="img-fluid" src="{{ post.image.url }} " />
        </div>
        <div class="d-flex justify-content-center">
            <span class="mb-4 mt-1 "><span class="fw-bold"> Category: </span> {{ post.category|capfirst }}</span>
        </div>
    </div>
    {% endfor %}
    {% endif %}

</section>

{% endblock middle %}